@use './variables' as v;

.header {
    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 2px solid red;
        width: 100%;
        padding: 24px;
        background-color: v.$White;
        @media (min-width: 1440px) {
            justify-content: space-between;
            padding-left: 160px;
            padding-right: 160px;
        }
    }
    &__icons {

        @media (min-width: 1440px) {
            display: none;
        }
    }
    &__icon--close {
        display: none;
    }
}
