@use  './variables' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: v.$Font;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}